# Schema for this config file: ProjectConfig in:
# https://luci-config.appspot.com/schemas/projects:luci-resultdb.cfg

gcs_allow_list {
  users: "user:r8-ci-builder@chops-service-accounts.iam.gserviceaccount.com"
  buckets: "r8-releases"
}